@import '../../styles/keyframes';

.net {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 5000;
}

.net1, .net2, .net3 {
  position: absolute;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation-name: fadeinOutD6;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.net1 {
  background-image: url(http://coinbase.com/img/net-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: .02;
  animation-duration: 12s;
}

.net2 {
  opacity: .06;
  background-image: url(http://coinbase.com/img/net-3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;
  animation-duration: 8s;
}

.net3 {
  opacity: .1;
  background-image: url(http://coinbase.com/img/net-2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  animation-duration: 16s;
  animation-name: fadeinOutD13;
}