@import '../../styles/variables.scss';

.nav {
  height: 100%;
  color: $white;
  padding: 50px 0;
  text-align: center;
  border-right: 5px solid $white;
}

.header {
  font-size: 32px;
  span {
    color: $gold;
  }
}

.links {
  margin: 50px 0;
}

.link {
  position: relative;
  margin: 20px 0;
  font-size: 30px;
  cursor: pointer;

  &:hover {
    .border {
      width: 10px;
    }
  }

  &.active {
    .border {
      width: 10px;
    }

    a {
      color: $gold;
    }
  }

  a {
    display: block;
    padding: 20px 0;
    color: $white;
  }
}

.border {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: $white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -ms-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}
